.center-text {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Opcional: ajusta el tamaño si lo deseas */
}

.center-img33 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%; /* Opcional: ajusta el tamaño si lo deseas */
}

.center-img100 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Opcional: ajusta el tamaño si lo deseas */
}

.center-img75 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* Opcional: ajusta el tamaño si lo deseas */
}
